@model Greet_Someone.Services.GreetService
@{
    ViewData["Title"] = "Hello";
}

<center>
    <h1 style="color:#069">Hello, @Model.Greet()</h1>

    <img src="https://i1.wp.com/nasacj.net/wp-content/uploads/2014/12/IMG_1949.jpg?w=574">
</center>

