
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello!</h2>
<body style="background-image:url(http://blog.visme.co/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-03.jpg);">
    <form action="/" method="post">
        <p>Your name: </p>
        <input type="text" name="name" style="border-radius: 9px" required />
        <button type="submit">Submit</button>
    </form>
</body>

