
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<form action="/" method="post">
    <p>Your name: </p>
    <input type="text" name="name" required />
    <button type="submit">Submit</button>
</form>

