
@{
    ViewData["Title"] = "AddNewPost";
}

<h1>Submit a new post</h1>
<form action="/submit" method="post">
    <input type="text" name="Title" />
    <input type="url" name="URL" />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

