
@{
    ViewData["Title"] = "AddNewPost";
}

<h2 style="text-align:center">Submit a new post</h2>
<br />
<form action="./submit" method="post" style="text-align:center">
    <h4>Title: <input type="text" name="PostText" /></h4>
    <h4>URL: <input type="url" name="Url" /></h4>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

