@model List<Post>

<h2>Trending Posts</h2>

<div>
    <a href="./submit" class="btn btn-primary">Submit new post</a>
</div>

@foreach (Post post in Model)
{
     <h3> @post.NumberOfVotes <a href="@post.Id/increase" class="btn btn-success">+</a> <a href="@post.Id/decrease" class="btn btn-danger">-</a> @post.PostText</h3>
}

