
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<head>
    <link rel="stylesheet" href="login_form.css">
</head>
<body>
    <fieldset class="field" action="/login" method="post">
        <div>
            <p class="accountlogin">Account login</p>
        </div>
        <div>
            <label for="name" class="name">Username</label>
            <br>
            <input type="email" class="input" name="user_name">
            <br>
        </div>
        <div>
            <label for="password" class="password">Password</label>
            <br>
            <input type="password" id="input_password" class="input" name="user_password">
            <p class="forgot">Forgot Password?</p>
        </div>
        <div>
            <br>
            <input type="submit" class="submit" value="Login">
    </fieldset>
</body>

