@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is Bank Of Simba</p>
<p>You can increase the balance of the bank account by its ID number.</p>
