@model BankOfSimba.ViewModells.BankViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    foreach (var item in Model.accounts)
    {
        <p>Name: @item.Name</p>
        <p>Balance: @item.Balance </p>
        <p>Type: @item.AnimalType </p>
    }
}

