@model BankOfSimba.Models.BankAccount
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
        <p>Name: @Model.Name</p>
        <p>Balance: @Model.Balance </p>
        <p>Type: @Model.AnimalType </p>
}

