
@model List<Todo>


<h2 style="text-align:center">TODOS FOR TODAY</h2>
<br />
<div style="text-align: center">
    <a href="./add" class="btn btn-warning">Add new ToDo</a>
</div>
<br />

<table class="container-fluid">
    <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>URGENT</th>
        <th>DONE</th>
    </tr>
    @foreach (var todo in Model)
    {
    <tr>
        <td>@todo.Id</td>
        <td>@todo.Title</td>
        <td>@todo.IsUrgent</td>
        <td>@todo.IsDone</td>
        <td><a href=./@todo.Id/delete class="btn btn-danger">Delete</a>
        <td><a href=./@todo.Id/edit class="btn btn-primary">Edit</a>
    </tr>
    }
</table>