
@model List<Todo>

<h2>Todos for today</h2>

<a href="./add"><span>Add new ToDo</span></a>
<table>
    <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>URGENT</th>
        <th>DONE</th>
    </tr>
    @foreach (var todo in Model)
    {
        <tr>
            <td style="border:1px solid; padding: 3px;">@todo.Id</td>
            <td style="border:1px solid; padding: 3px;">@todo.Title</td>
            <td style="border:1px solid; padding: 3px;">@todo.IsUrgent</td>
            <td style="border:1px solid; padding: 3px;">@todo.IsDone</td>
        </tr>
    }
</table>
