
@model List<Todo>

<h2>Todos for today</h2>
<form action="/todos/Addtodos" method="post">
    Todo:
    <input type="text" name="name" value="Todo" />
    <button type="submit">Submit</button>
</form>

    <tr style="background-color:white">
        <th>ID</th>
        <th>ACTION</th>
        <th>URGENT</th>
        <th>DONE</th>
    </tr>
    @foreach (var todo in Model)
    {
        <tr>
            <td style="border:1px solid">@todo.Id</td>
            <td style="border:1px solid">@todo.Title</td>
            <td style="border:1px solid">@todo.IsUrgent</td>
            <td style="border:1px solid">@todo.IsDone</td>
        </tr>
    }
</table>
