
@model List<Todo>

<div >
    <h2>Todos for today</h2>

    <a href="./add"><span>Add new ToDo</span></a>
    <table class="container-fluid">
        <tr>
            <th>ID</th>
            <th>ACTION</th>
            <th>URGENT</th>
            <th>DONE</th>
            <th>DELETE</th>
            <th>EDIT</th>
        </tr>
        @foreach (var todo in Model)
        {
            <tr>
                <td>@todo.Id</td>
                <td>@todo.Title</td>
                <td>@todo.IsUrgent</td>
                <td>@todo.IsDone</td>
                <td><a href="./@todo.Id/delete"><span>Delete</span></a></td>
                <td><a href="./@todo.Id/edit"><span>Edit</span></a></td>
            </tr>
        }
    </table>
</div>
