@model Fox
@{
    ViewData["Title"] = "Info";
}

<h2>Info</h2>
<body style="background-image:url(http://backgroundcheckall.com/wp-content/uploads/2017/12/green-polygonal-background-7.jpg);">
    <h2>This is Mr. @Model.Name</h2>
    <h2> He eats @Model.Food</h2>
    <img src="https://github.com/green-fox-academy/teaching-materials/blob/master/project/programmer-fox-club/assets/greenfox.png?raw=true" />
</body>