@model Club.Models.Fox
@{
    ViewData["Title"] = "Info";
}

<h2>Info</h2>
<body style="background-image:url(http://backgroundcheckall.com/wp-content/uploads/2017/12/green-polygonal-background-7.jpg);">
    <h3>This is @Model.Name</h3>
    <img src="https://github.com/green-fox-academy/teaching-materials/blob/master/project/programmer-fox-club/assets/greenfox.png?raw=true" />"
</body>