
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<h3>Join to the Orc Club!</h3>
<body style="color:aliceblue; background-image:url(http://notgoaway.com/wp-content/uploads/2017/07/Dark-Background-6A.jpg);">
    <form action="/" method="post">
        <p>Your name: </p>
        <input type="text" name="name" style="border-radius: 9px" required />
        <br>
        <br>
        <button type="submit" style="color:black; border-radius:9px">Submit</button>
    </form>
</body>
