@model Club.Models.FoodDrink
@{
    ViewData["Title"] = "NutritionStore";
}

<h2>NutritionStore</h2>

<body style="background-image:url(http://backgroundcheckall.com/wp-content/uploads/2017/12/green-polygonal-background-7.jpg);">
    <h3>This is @Model.Name</h3>
    <img src="url(https://github.com/green-fox-academy/teaching-materials/blob/master/project/programmer-fox-club/assets/greenfox.png)" />"
    <h1></h1>
</body>