
@{
    ViewData["Title"] = "AnagramChecker";
}

<h2>AnagramChecker</h2>

<h2>Hello!</h2>
<form action="/" method="post">
    <p> Give me two words to compare! </p>
    <input type="text" word="text" style="border-radius: 9px" required />
    <input type="text" word="text" style="border-radius: 9px" required />
    <button type="submit">Submit</button>
</form>

