
@{
    ViewData["Title"] = "GiveWords";
}

<body style="background-image:url(http://cdn26.us1.fansshare.com/photo/brightbackgrounds/light-green-waves-background-bright-green-backgrounds-1703775598.jpg)">
    <center>
        <h1>Play with words</h1>
        <h2>Hello!</h2>
        <form action="/" method="post">
            <h4> Give me two words, and I say are they anagrams, or not </h4>
            <br>
            <input type="text" word="text" name="wordToCheck1" style="border-radius: 9px" required />
            <input type="text" word="text" name="wordToCheck2" style="border-radius: 9px" required />
            <br>
            <br>
            <button type="submit">Check</button>
        </form>
    </center>
</body>


