@model AnagrammChecker.Servies.AnagramCheckerServie
@{
    ViewData["Title"] = "IsItAnagram";
}

<h2>IsItAnagram</h2>

@{
    if (@Model.SetWords(input1, input2) == true)
    {
        <p>It is an anagram!</p>
    }
    else
    {
        <p>It is not an anagram! :( </p>
    }
}