@model bool
<body style="background-image:url(http://cdn26.us1.fansshare.com/photo/brightbackgrounds/light-green-waves-background-bright-green-backgrounds-1703775598.jpg)">
    <center>
        <h1>Play with words</h1>
        <h3>Are they anagrams?</h3>
        <h2>@Model!</h2>
        @if (Model == true)
        {
            <h4>They are anagrams</h4>
        }
        else
        {
            <h4>They are not anagrams :(</h4>
        }
        @if (true)
        {

        }
    </center>
</body>
